* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --tipo1: "Poppins", sans-serif;
  --tipo2: "Poppins", sans-serif;
  --fondo:#faf6ed;
  --azul: #003a7b;
  --naranja: #f7bc35;
  --medio:#fbdf9c;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
}

p a {
  display: inline-flex;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, strong {
  font-size: inherit;
  font-weight: inherit;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

::selection {
  background-color: var(--naranja);
  color: var(--azul);
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  background-color: var(--fondo);
  font-size: 100%;
  font-family: var(--tipo1);
  color: var(--azul);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ESTO ES LA CABECERA */
.header {
  width: 100%;
  padding: 0.5em 0;
  background-color: var(--fondo);
  position: fixed;
  z-index: 2;
  top: 0;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
}

.header .centrado {
  width: 70%;
  /* background-color: lightcoral; */
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
}

.header .h1 {
  width: 4.5em;
  /* background-color: lightcyan; */
}

header .logo:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
}

.header .fas {
  font-size: 1.3em;
  display: none;
}

header .nav {
  /* background-color: red; */
  display: none;
}

.header .ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  align-content: initial;
}

.header .li {
  margin: 0 0 0 1em;
}

/* .header .proyectos{
  background-color: hotpink;

} */
header .a:hover {
  color: var(--naranja);
}


/* ESTO ES EL CUERPO */
.main {
  width: 100%;
  min-height: 100vh;
  /* background-color: rgb(32, 34, 178); */
  position: relative;
  z-index: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
  font-weight: 500;
  font-size: .9em;
}

.main .centrado {
  width: 68%;
  /* background-color: hotpink; */
  padding: 6em 0 0 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: initial;
  animation: aparecer1 4s ease 1 both;
}

.main .foto {
  /* background-color: blue; */
  padding: 1em 3em 4em 1em;
  
}

.main .img{
  width: 100%;
  border-radius: 2em;
  /* background-color: azure; */
  
}

.main .texto {
  width: 55%;
  margin: 0 1em 0 0;
  padding: .5em;
  /* background-color: lightseagreen; */
}

.main .nombre {
  font-weight: 600;
  font-size: 3em;
}

.main .p {
  margin: 1em 0;
}

.main .p2 {
  font-weight: 600;
  font-size: 1.3em;
}

.main .a {
  /* background-color: darkcyan; */
  margin: 2em;
  padding: 1em 2em;
  border: 2px solid var(--naranja);
  border-radius: 1em;
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  letter-spacing: 2px;
  color: var(--azul);
  transition: all 0.5s ease;
}

.main .a:hover {
  background-color: var(--naranja);
  color: var(--azul);
}

.main .enlaces {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: initial;
}

/* ESTO ES EL PIE */
.footer {
  width: 100%;
  background-color: var(--fondo);
  position: fixed;
  bottom: 0;
  z-index: 3;
  font-weight: 600;
  font-size: 1.3em;
  text-transform: uppercase;
}

.footer .centrado {
  width: 90%;
  /* background-color: lightpink; */
  margin: 1em auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer .mi:hover {
  color: var(--naranja);
}

/* .footer .social{} */
.footer .rrss {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.footer .red-social {
  margin: 0 1em;
  font-size: 1em;
}

.footer .red-social:hover {
  color: var(--naranja);
}

.footer .contacto:hover {
  color: var(--naranja);
}

@media screen and (max-width: 915px) {
  .header .proyectos {
    display: none;
  }

  .header .fas {
    display: flex;
    /* font-size: 2em; */
  }

  .header .centrado {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: initial;
  }

  .header .nav {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: initial;
    background-color: var(--fondo);
    display: none;
  }

  .header .nav.ver {
    display: flex;
  }

  .header .ul {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    margin: 1.5em 0;
  }

  .header .li {
    width: 100%;
    margin: 1.5em 0;
  }

  .main .centrado {
    width: 100%;
    /* background-color: hotpink; */
    padding: 8.5em 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }

  .main .texto {
    width: 80%;
    margin: auto;
  }

  .main .descripcion {
    margin: 1em 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
    font-size: 1em;
  }

  .main .nombre {
    font-size: 3em;
  }

  .main .p2 {
    margin: 1.5em 0 0 0;
  }

  .main .enlaces {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: initial;
  }

  .footer {
    display: none;
  }
}
@keyframes aparecer1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}